 {% extends 'base.html' %}
 {% load staticfiles%}
 {% load bootstrap3 %}
 {% include "bootstrap_form_horizontal.html" with form=form submit="Send it in" %}

 <!-- Styles block -->
 {% block styles %}

     {{block.super}}
     <link rel="stylesheet" href="{% static 'css/new-post.css'%}">
 {% endblock %}

 <!-- Content block -->
 {% block content %}

     {{block.super}}

     <div class="container">
         <div class="col-md-8 col-lg-8">
             <form class="form-horizontal" action=""  method="post" enctype="multipart/form-data">
             <!-- <form method='post' action='' class='form-horizontal'> -->
                 {% csrf_token %}
                 {% bootstrap_form form %}
                 <input type="submit" class="btn btn-success btn-md" value="Post">
             </form>
             <form method='post' class='form-horizontal' action='something'>{% csrf_token %}
    {% include "bootstrap_form_horizontal.html" with form=form wrap=0 %}
    <input type='submit' value='Go!' />
</form>

         </div>
     </div>

 {% endblock %}
