{% load bootstrap3 %}
{% load staticfiles%}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/css/uikit.min.css" />

  <!-- UIkit JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/js/uikit.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/js/uikit-icons.min.js"></script>


  {% if title %}
  <title> {{title}}</title>
  {% else %}
    <title> Timetable </title>
  {% endif %}

  {% block styles %}
    {% bootstrap_css %}
    <!-- <link rel="stylesheet" href="{% static 'css/news.css' %}"> -->
  {% endblock %}

</head>


<body class="uk-height-large uk-background-cover uk-overflow-hidden uk-light uk-flex uk-flex-top" style="background-image: url('http://upload.wikimedia.org/wikipedia/commons/4/46/Jennifer_Lawrence_at_the_83rd_Academy_Awards.jpg');background-size:cover;">


  <style media="text/css">
      body {
         background: url(http://upload.wikimedia.org/wikipedia/commons/4/46/Jennifer_Lawrence_at_the_83rd_Academy_Awards.jpg')
      }
  </style>

  {% block content %} {% endblock %}

  {% block scripts %}
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     {% bootstrap_javascript %}
  {% endblock %}
</body>





</html>
