<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/css/uikit.min.css" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/js/uikit-icons.min.js"></script>

    <title>scheduler</title>
  </head>
  <body>
    <div class="col-md-8" style="margin-left:50px;">


    <h1>Scheduler</h1>

    <h3>lecture-period</h3>
    <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
        <label><input class="uk-radio" type="radio" name="radio2" checked> 7 A.M</label>
        <label><input class="uk-radio" type="radio" name="radio2"> 9 A.M</label>
        <label><input class="uk-radio" type="radio" name="radio2"> 11 A.M</label>
        <label><input class="uk-radio" type="radio" name="radio2"> 2 P.M</label>
        <label><input class="uk-radio" type="radio" name="radio2"> 4 P.M</label>
    </div>
    <div class="">
        <ul class="uk-subnav uk-subnav-pill" uk-switcher>
        <li><a href="#">CN</a></li>
        <li><a href="#">CT</a></li>
        <li><a href="#">IT</a></li>
        <li><a href="#">DIT</a></li>
      </ul>

      <ul class="uk-switcher uk-margin">
        <li>Computer Networks!</li>
        <li>Computer Technology</li>
        <li>Information Technology</li>
        <li>Diploma in Information Technology</li>

      </ul>

            <ul class="uk-switcher uk-margin">
              <li>
                <table class="uk-table uk-table-divider">
                  <thead>
                      <tr>
                          <th>Year</th>
                          <th>Lecture Room</th>
                          <th>Lecturer</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>First Year</td>
                          <td>
                            <div class="uk-margin">
                              <input class="uk-input uk-form-primary uk-form-width-medium" type="text" placeholder="RM-001" value=" Enter Room Number">
                            </div>
                        </td>
                          <td>
                            <div class="uk-margin">
                                <select class="uk-select">
                                    <option>Hassan</option>
                                    <option>Magoe </option>
                                </select>
                            </div>
                          </td>
                      </tr>
                      <tr>
                          <td>Second Year</td>
                          <td>
                            <div class="uk-margin">
                              <input class="uk-input uk-form-primary uk-form-width-medium" type="text" placeholder="RM-001" value=" Enter Room Number">
                            </div>
                        </td>
                          <td>
                            <div class="uk-margin">
                                <select class="uk-select">
                                    <option>Hassan</option>
                                    <option>Magoe </option>
                                </select>
                            </div>
                          </td>
                      </tr>
                      <tr>
                          <td>Third Year</td>
                          <td>
                            <div class="uk-margin">
                              <input class="uk-input uk-form-primary uk-form-width-medium" type="text" placeholder="RM-001" value=" Enter Room Number">
                            </div>
                        </td>
                          <td>
                            <div class="uk-margin">
                                <select class="uk-select">
                                    <option>Hassan</option>
                                    <option>Magoe </option>
                                    <option>Kamau</option>
                                    <option>Magoe </option>
                                </select>
                            </div>
                          </td>
                      </tr>
                      <tr>
                          <td>Fourth Year</td>
                          <td>
                            <div class="uk-margin">
                              <input class="uk-input uk-form-primary uk-form-width-medium" type="text" placeholder="RM-001" value=" Enter Room Number">
                            </div>
                        </td>
                          <td>
                            <div class="uk-margin">
                                <select class="uk-select">
                                    <option>Hassan</option>
                                    <option>Magoe </option>
                                </select>
                            </div>
                          </td>
                      </tr>
                      <!-- <tr>
                          <td>Second Year</td>
                          <td>RM-208</td>
                          <td>
                            <div class="uk-margin">
                                <select class="uk-select">
                                    <option>Hassan</option>
                                    <option>Magoe </option>
                                </select>
                            </div>
                          </td>
                      </tr>
                      <tr>
                          <td>Third Year</td>
                          <td>
                            <div class="uk-margin col-md-6">
                                <select class="uk-select">
                                    <option>RM-211</option>
                                    <option>RM-112</option>
                                    <option>RM-200</option>
                                    <option>RM-207</option>
                                </select>
                            </div>
                          </td>
                          <td>Prof. Hamo</td>
                      </tr>
                      <tr>
                          <td>Fourth Year</td>
                          <td>RM-203</td>
                          <td>Prof. Githu</td>
                      </tr> -->
                  </tbody>
              </table>
              <p uk-margin>
                  <button class="uk-button uk-button-primary">SAVE</button>
              </p>
            </li>
            <li>
              <table class="uk-table uk-table-divider">
                <thead>
                    <tr>
                        <th>Year</th>
                        <th>Lecture Room</th>
                        <th>Lecturer</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Fisrt Year</td>
                        <td>RM-201</td>
                        <td>Dr.Kamau</td>
                    </tr>
                    <tr>
                        <td>Second Year</td>
                        <td>RM-207</td>
                        <td>Mr. Bashir</td>
                    </tr>
                    <tr>
                        <td>Third Year</td>
                        <td>RM-213</td>
                        <td>Prof. Githu</td>
                    </tr>
                    <tr>
                        <td>Fourth Year</td>
                        <td>RM-203</td>
                        <td>Prof. Hamo</td>
                    </tr>
                </tbody>
            </table>
            <p uk-margin>
                <button class="uk-button uk-button-primary">SAVE</button>
            </p>
          </li>
          <li>
            <table class="uk-table uk-table-divider">
              <thead>
                  <tr>
                      <th>Year</th>
                      <th>Lecture Room</th>
                      <th>Lecturer</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>Fisrt Year</td>
                      <td>RM-201</td>
                      <td>Dr.Kamau</td>
                  </tr>
                  <tr>
                      <td>Second Year</td>
                      <td>RM-203</td>
                      <td>Mr. Bashir</td>
                  </tr>
                  <tr>
                      <td>Third Year</td>
                      <td>RM-203</td>
                      <td>Prof. Githu</td>
                  </tr>
                  <tr>
                      <td>Fourth Year</td>
                      <td>RM-203</td>
                      <td>Prof. Hamo</td>
                  </tr>
              </tbody>
          </table>
          <p uk-margin>
              <button class="uk-button uk-button-primary">SAVE</button>
          </p>
        </li>
        <li>
          <table class="uk-table uk-table-divider">
            <thead>
                <tr>
                    <th>Year</th>
                    <th>Lecture Room</th>
                    <th>Lecturer</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Fisrt Year</td>
                    <td>RM-201</td>
                    <td>Dr.Kamau</td>
                </tr>
                <tr>
                    <td>Second Year</td>
                    <td>RM-203</td>
                    <td>Mr. Bashir</td>
                </tr>
                <tr>
                    <td>Third Year</td>
                    <td>RM-203</td>
                    <td>Prof. Hamo</td>
                </tr>
                <tr>
                    <td>Fourth Year</td>
                    <td>RM-203</td>
                    <td>Prof. Hamo</td>
                </tr>
            </tbody>
        </table>
        <p uk-margin>
          <button class="uk-button uk-button-primary uk-margin-small-right" type="button" uk-toggle="target: #modal-example">SAVE</button>
            <!-- <button class="uk-button uk-button-primary">SAVE</button> -->
        </p>


      </li>

              <!-- This is an anchor toggling the modal -->
              <a href="#modal-example" uk-toggle>Open</a>

              <!-- This is the modal -->
              <div id="modal-example" uk-modal>
                  <div class="uk-modal-dialog uk-modal-body">
                      <h2 class="uk-modal-title">schedule</h2>
                      <p>Oops! There seems to be a replicated input</p>
                      <p class="uk-text-right">
                          <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                          <button class="uk-button uk-button-primary" type="button">Save</button>
                      </p>
                  </div>
              </div>

    </ul>


    </div>
  </div>
  </body>
</html>
