
{% extends 'index-base.html' %}
{% load static %}
<!-- Styles block -->
{% block styles %}

    {{block.super}}
      <link rel="stylesheet" href="{% static 'css/index.css'%}">

{% endblock %}

 {% block content %}
    <a class="" href="{% url 'CreateTable' %}"><button class="uk-button uk-button-primary uk-button-small" style="background-color:rgb(22, 113, 0)">MAKE TIME-TABLE</button></a>
    <a class="" href="{% url 'ViewSchedulesInfoTech3' %}"><button class="uk-button uk-button-primary uk-button-small" style="background-color:rgb(176, 128, 6)">VIEW TIME-TABLE</button></a>
 {% endblock %}
