{% extends 'base.html' %}
{% load staticfiles%}
{% load bootstrap3 %}
<!-- Styles block -->
{% block styles %}

    {{block.super}}
    <link rel="stylesheet" href="{% static ''%}">
{% endblock %}

<!-- Content block -->
{% block content %}

    {{block.super}}

    <div class="container">
      <div class="col-md-12">
       {% if profile.user_type == "admin" %}
          <div class="uk-inline" style="margin-bottom:20px;">
            <a href="{% url 'home' %}"><button class="uk-button uk-button-primary uk-button-small" style="background-color:rgb(22, 113, 0);margin-bottom:5px;"> Home </button></a><br>
          </div>
          <div class="uk-inline" style="margin-bottom:20px;">
            <a href="{% url 'CreateTable' %}"><button class="uk-button uk-button-primary uk-button-small" style="background-color:rgb(22, 113, 0);margin-bottom:5px;"> Create Table </button></a><br>
          </div>
          <div class="uk-inline" style="margin-bottom:20px;">
            <a href="{% url 'AddUnit' %}"><button class="uk-button uk-button-primary uk-button-small" style="background-color:rgb(22, 113, 0);margin-bottom:5px;"> Manage Unit </button></a><br>
          </div>
          <div class="uk-inline" style="margin-bottom:20px;">
            <a href="{% url 'AddLecturer' %}"><button class="uk-button uk-button-primary uk-button-small" style="background-color:rgb(22, 113, 0);margin-bottom:5px;"> Manage Lecturer </button></a><br>
          </div>
       {% else %}
       <div class="uk-inline" style="margin-bottom:20px;">
         <a href="{% url 'home' %}"><button class="uk-button uk-button-primary uk-button-small" style="background-color:rgb(22, 113, 0);margin-bottom:5px;"> Home </button></a><br>
       </div>
       {% endif %}
      </div>

       <div class="col-md-6">
         <table class="uk-table uk-table-hover uk-table-condensed uk-table-striped" style="position: relative;float: right">
           {% if lecturer %}
           <caption><h4 style="color:rgb(22, 113, 0)">{{lecturer.name | upper}}</h4></caption><a href="{% url 'LecturerSchedule' lecturer_id %}"><button type="submit" class="uk-button uk-button-danger">Schedule</button></a>
           {% if count_status %}
           <div class="uk-alert-danger" uk-alert>
             <a class="uk-alert-close" uk-close></a>
             <p>FULLY BOOKED!! </p>
             <p> {{lecturer.name|title}}  has been assigned a maximum number of units.</p>
           </div>
           {% else %}
           <div class="uk-alert-success" uk-alert>
             <a class="uk-alert-close" uk-close></a>
             <p>  {{lecturer.name|title}}  can be assigned upto 4 units.</p>
           </div>
           {% endif %}

          {% endif %}
          {% if allocations %}
             <thead>
                 <tr>
                   <th style="font-size:15px;color:rgb(212, 3, 66);">NAME</th>
                   <th style="font-size:15px;color:rgb(212, 3, 66);">CODE</th>
                   <th style="font-size:15px;color:rgb(212, 3, 66);">ACTION</th>
                 </tr>
             </thead>

                 <tbody>

                   {% for allocation in allocations %}
                     <tr>

                           <td>
                             {{allocation.name | upper}}
                           </td>
                           <td>
                             {{allocation.code | upper}}
                           </td>
                           <td>
                             <a href="{% url 'RelieveUnit' allocation.id lecturer_id %}"><button type="submit" class="uk-button uk-button-danger">Remove</button></a>
                           </td>

                     </tr>
                     {% endfor %}
                     </tr>


                 </tbody>
              {% else %}
              <div class="uk-alert-danger" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <p> {{lecturer.name|title}}  has not been assigned any unit yet</p>
              </div>
              {% endif %}

               </table>


       </div>
      {% if profile.user_type == "admin" %}

        <div class="col-md-6" >
          <table class="uk-table uk-table-hover uk-table-condensed uk-table-striped" style="position: relative;float: right">

              <caption><h4 style="color:rgb(22, 113, 0)">UNASSIGNED UNITS</h4></caption>


              <thead>
                  <tr>
                    <th style="font-size:15px;color:rgb(212, 3, 66);">NAME</th>
                    <th style="font-size:15px;color:rgb(212, 3, 66);">CODE</th>
                    <th style="font-size:15px;color:rgb(212, 3, 66);">ACTION</th>
                  </tr>
              </thead>


                  <tbody>
                    {% for unit in units %}
                      <tr>
                        <td>
                          {{unit.name | upper}}
                        </td>
                        <td>
                          {{unit.code | upper}}
                        </td>
                        <td>
                          <a href="{% url 'AssignUnit' unit.id lecturer_id %}"><button type="submit" class="uk-button uk-button-primary">Assign</button></a>
                        </td>
                      </tr>
                      {% endfor %}



                  </tbody>
                </table>
            </div>
       {% endif %}
    </div>

{% endblock %}
